

body {
  background-color: #e5ebf1;
}
#wrapper {
  width:600px;

}
#left-column {
	width:180px;
	float:left;
	padding: 0 10px 20px;

}

.block {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #FFFFFF;
  border: solid 1px #e3e3e3;
  border-radius: 4px;
}

#right-column {
	width:380px;
	float:right;
}

.main_photo {
  margin-bottom: 10px;
}
.main_photo img {
  border-radius: 4px;
}

button.flat_button {
  color: #5e81a8;
  padding: 5px;
}

.profile_actions .profile_action_btn {
  width: 150;
}

.people_cell_img {
    border-radius: 15px;
    width:30px;
    height:30px;
}

.people_table .one {

  padding: 10px;
  border-bottom:1px solid #efece7;
}

.people_cell_name {
  font:normal 10px Arial, Helvetica, sans-serif;

}


.inner_funny_toys {
  display:inline-block;

}

.page_counter {
  font:normal 13px Arial, Helvetica, sans-serif;
}

a {
  color: #5e81a8;
}

.people_cell {
    display: inline-block;
}
.radius {
    border-radius: 15px;
    width:30px;
    height:30px;
}
.photoes_count {
    display: inline;
}
.images {
    display: inline-block;
    width:380px;
}
