

body {
  background-color: #e5ebf1;
  margin: 0;
  padding: 0;
}
#wrapper {
  width:600px;
  margin: auto;

}
#left-column {
	width:190px;
	float:left;
	padding: 0 10px 20px;

}

.block {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #FFFFFF;
  border: solid 1px #e3e3e3;
  border-radius: 4px;
}

#right-column {
	width:390px;
	float:right;
}

.main_photo img {
  width: 100%;
  border-radius: 4px;
}

.main_photo {
  margin-bottom: 10px;

}


button.flat_button {
  color: #FFFFFF;
  padding: 5px;
  width: 160px;
  background: #5e81a8
}

.profile_actions .profile_action_btn {
    width: 150;
}

.people_cell_img {
    border-radius: 15px;
    width:30px;
    height:30px;
}

.one {
  margin-bottom: 10px;
  border-bottom:1px solid #efece7;
}

.people_cell_name a {
  font:normal 10px Arial, Helvetica, sans-serif;
  text-decoration: none;

}


.inner_funny_toys {
  display:inline-block;
}

.page_counter {
  font:normal 13px Arial, Helvetica, sans-serif;
}

a {
  color: #5e81a8;
}

.people_row {
  margin-bottom: 10px;
  display: flex;

}
.people_cell {
    display: inline-block;
    margin: auto;

}
.radius {
    border-radius: 15px;
    width:30px;
    height:30px;
}
.photoes_count {
    display: inline;
}
.images {
    display: inline-block;
    width:380px;
}
/*Vel. O. code*/
.page_counter1 {
    margin: auto;
    text-decoration: none;
    font:normal 13px Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 5px;
}
.inner_bottom {
    border-top: 1px solid #e3e3e3;
    display: flex;
}
.inner_top {
    border-bottom: 1px solid #e3e3e3;
    font:normal 11px Arial, Helvetica, sans-serif;
}
.page_description {
    clear: both;
}
h1 {
    font-size: 20px;
    float: left;
}
.user_info {
    font:normal 11px Arial, Helvetica, sans-serif;
}
.info_block {
    display: flex;
}
.global_info {
    width: 180px;
}
.special_info {
    margin-top: 11px;
    text-decoration: none;
}
.dop {
  margin-left: 180px;
}
.online  {
  float: right;
}
