
#wrapper {
  background-color: #e5ebf1;
  width:600px;

}
#left-column {
	width:180px;
	float:left;
	padding: 0 10px 20px;
}

#right-column {
	width:350px;
	float:right;
}

button .flat_button {
  color: #5e81a8;
}

.profile_actions .profile_action_btn {
  width: 140

}

.people_cell_img {
  border-radius: 15px;
  width:30px;
  height:30px;
}

.people_table .one {
  border-bottom:1px solid #efece7;
}

.people_cell_name {
  font:normal 10px Arial, Helvetica, sans-serif;
  
}


.people_cell {
 display: inline-block;
}
/*Velykyi O. */
.page_counter {
    display: inline-block;
    font-size: 13px;
}